/.idea/
/composer.lock
/vendor/
/_frontend/itcrowd/node_modules/
package-lock.json
/storage/itcrowd/newsrss/
/storage/itcrowd/tmp/
/app/config/localhost/
/app/config/localhost_81/
/app/form/localhost/
/app/form/localhost_81/
/public/site/itcrowd/
